.header {
	background-color: #030303;
	color: white;
	padding-bottom: 1vw;
	padding-top: 1vw;

	margin-bottom: 5%;
}

.header > .title {
	margin-left: 2vw;
	margin-right: 6vw;
}

.header h3 {
	display: inline;
}

.header li {
	display: inline;
	margin-right: 3vw;
}

.header ul {
	display: inline;
	list-style-type: none;
}

.header a {
	text-decoration: none;
	color: inherit;
}


.projects {
	list-style-type: none;
}

.projects > li {
	background-color: #69CC4E;
	padding: .5vw;
	font-weight: lighter;
	border-radius: .1vw;
}

.projects > li > span {
	float: right;
}