.header {
	background-color: #030303;
	color: white;
	padding-top: .25vw;
	padding-bottom: 1vw;

	margin-bottom: 10%;
}
.header > * {
	margin-bottom: 0;
}
.header > ul li{
	display: inline;
	list-style-type: none;
}

.header > ul a {
	text-decoration: none;
	color: inherit;
}

.header li {
	margin-right: 6vw
}

.header li:first-child {
	margin-left: 2vw;
}

.header li > * {
	display: inline;
}

.projects {
	list-style-type: none;
}

.projects > li {
	background-color: #69CC4E;
	padding: .5vw;
	font-weight: lighter;
	border-radius: .1vw;
}

.projects > li > span {
	float: right;
}