<div class="row">
	<div class="one-half column">
		<h4>Trending Projects</h4>
		<p>These are some projects we think you might be interested in! Take a pick, sift through the code... make some suggestions!</a>.</p>

		<p>If you want to get on this list, you should <a href="#/make" title="Make a project!">Make a project!</a></p>

		<p>And now a message from our sponsor: {{message}}</p>
		<button ng-click="change()">Hello</button>
	</div>

	<div class="one-half column">
		<ul class="projects">
            <li ng-repeat="project in projects"><a ng-href="#/projects/{{project.id}}">{{project.name}}</a> by <rr-username uid="project.owner"></rr-username></li>
        </ul>
	</div>

</div>
