<div class="row">
	<div class="six columns offset-by-three">
		<h2>{{lc.mode}}!</h2>
		<h5><a href="#/login" ng-click="lc.changeMode()">Want to {{lc.otherMode()}}?</a></h5>

		<p class="error">{{lc.error}}</p>

		<label for="username">Your username</label>
		<input type="text" class="u-full-width" name="username" value="" placeholder="boberino" id="username"/>

		<div ng-show="lc.mode == 'Register'">
			<label for="email" >Your email</label>
			<input type="email" class="u-full-width" name="email" placeholder="bob@erino.com" id="email"/>
		</div>
		
		<label for="password">Your password</label>
		<input type="password" class="u-full-width" name="" value="" placeholder="peperoni" id="password">

		<button class="button button-primary" value="GO" ng-click="lc.go()">Go!</button>
	</div>
</div>