<div class="row">
	<div class="eight columns offset-by-one">
		<h3>Create a project!</h3>
	</div>
</div>
	
<div class="row">
	<div class="ten columns offset-by-one">
		<label>Name: <input ng-model="name" type="text" name="name" placeholder="octo-nemesis" class="u-full-width"></label>
		<label>URL: <input ng-model="url" type="text" name="url" placeholder="https://github.com/paked/go-repo-review" class="u-full-width"></label>
        <label>Language: <input ng-model="language" type="text" placeholder="Go" class="u-full-width"></label>
        <label>TLDR: <input ng-model="tldr" type="text" name="tldr" placeholder="a short description of your project" class="u-full-width"></label>
		<button ng-click="make()" class="button-primary">Go</button>
	</div>
</div>
