<div class="row title">
            <div class="six columns">
                <!-- Title and basic overview -->
                <section>
                    <h1>Engi - {{mc.message}}</h1>
                    <h3>A ECS written in Go</h3>
                </section>
            </div>

            <div class="six columns">
                <p>Engi is a cross-platform game engine following the entity component paradigm.</p>

                <p>Average rating: 3/5</p>

                <span>by theifstatement</span>
            </div>
        </div>

        <div class="row">
            <!-- Reviews -->
            <div class="eight columns">
                <article class="review break">
                    <div class="title">
                        <h4>Well... The Code Works</h4>
                    </div>

                    <div class="content">
                        <p>The code works however admins are sh*t, and there is *no* documentation. My PRs have been rejected each time</p>
                    </div>

                    <div class="footer">
                        <span class="rating">2/5</span>

                        <div class="u-pull-right">
                            <span class="time">10 minutes ago</span>
                            <span class="username">by lift_fork</span>
                        </div>
                    </div>
                </article>

                <article class="review break">
                    <div class="title">
                        <h4>Woah. Mongodb really is webscale.</h4>
                    </div>

                    <div class="content">
                        <p>When I first looked at this project I was quite sceptical it could handle it's promised loads, however in a production environment you can truly feel the web scale, all from mongodb. Spectacular.</p>
                    </div>
                    <div class="footer">
                        <span class="rating">5/5</span>

                        <span class="u-pull-right">
                            by paked
                        </span>
                    </div>
                </article>
            </div>

            <div class="four columns">
                <!-- Stats -->
                <section>
                    <ul class="panel">
                        <li>Pull Requests: 10</li>
                        <li>Open Issues: 15</li>
                        <li>Closed Issue: 30</li>
                        <li>Contributors: 5</li>
                        <li>Contribution Rate: 20%</li>
                    </ul>
                </section>
            </div>
       </div>