<!DOCTYPE html>
<html lang="en" ng-app="gerrycode">
	<head>

		<!-- Basic Page Needs
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8">
		<title>gerrycode</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Mobile Specific Metas
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- FONT
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

		<!-- CSS
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="stylesheet" href="/lib/skeleton/css/normalize.css">
		<link rel="stylesheet" href="/lib/skeleton/css/skeleton.css">

		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<!-- Favicon
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="icon" type="image/png" href="/lib/skeleton/images/favicon.png">

	</head>

	<body>
		<header class="row header" ng-controller="HeaderCtrl">
			<h3 class="title"><a href="#/">gerrycode</a></h3>
			<ul>
				<li><a href="#/explore">Explore</a></li>
				<li><a href="#/make">Make</a></li>
			</ul>
			<div class="u-pull-right">
				<h3>  </h3> <!--- hack out of the wazoo -->
				<ul ng-if="user.loggedIn()">
					<li><a href="#/me/view">My Projects</a></li>
					<li>{{user.username}}</li>
                    <li ng-click="user.logout()">Logout</li>
				</ul>
				<ul ng-if="!user.loggedIn()">
					<li><a href="#/login">Login</a></li>
					<li><a href="#/register" title="">Register</a></li>
				</ul>
			</div>			

		</header>

		<!-- Primary Page Layout
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<div class="container" ng-view>
				
		</div>

		<script src="/lib/angular/angular.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/angular-route/angular-route.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/main.js" type="text/javascript" charset="utf-8"></script>

		<!-- End Document
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	</body>
</html>
