body {
    font-family: 'Helvetica'
}

nav ul li {
    display: inline;
    text-decoration: none;
    list-style: none;
    font-size: 2.5rem;

    margin-right: 1vw;

    text-decoration: none;
}

nav a {
    color: darkgrey;
}

header a {
    text-decoration: none;
}

header {
    margin-top: 15px;
    margin-bottom: 4vw;
}

header > div {
    padding: 1vw;
}

.panel {
    background-color: #DBDBDB;

    border: 1px solid #EDEDED;
    border-radius: 5px;

    padding: 1vw;

    list-style-type: none;
}

.break {
    margin-top: 1vw;
    padding-bottom: 1vw;
    margin-bottom: 4vw;
    border-bottom: 1px grey solid;   
}